

* { 
    margin: 0;
    padding:0;
    box-sizing: 0;
}

.header {
	background:url(titulo.jpg) no-repeat center center fixed;
	background-size:cover;
	height:100px;
	width: 100%;

}

.container {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/Card1.png?Web=1") center center no-repeat;
    background-size: 500px;
  }
  .card0:hover {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/tarjeta1-1.png?Web=1") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/card2.png?Web=1") center center no-repeat;
    background-size: 500px;
  }
  .card1:hover {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/tarjeta%20int%202.png?Web=1") center center no-repeat;
    background-size: 600px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/card3.png?Web=1") center center no-repeat;
    background-size: 500px;
  }
  .card2:hover {
    background: url("https://softwareone-my.sharepoint.com/personal/elisa_lopez_softwareone_com/Documents/Escritorio/tarjeta%20int3.png?Web=1") right center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }



  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 1px;
  }
  
  
  footer a {
    color: #fe7880;
    text-decoration: none;
  }